<html>
<head>
    <title>X-Man aggregated report</title>
</head>

<body>

<h2>Maven dependencies reports</h2>

<#list reports as rep>

        <li><a href="${rep.link}">${rep.projectName}</li>

</#list>
</ul>
</body>

</html>
